* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* =============== Common =================== */
a {
    text-decoration: none;
}

.line-clamp {
    --line-clamp: 2;

    display: -webkit-box;
    line-clamp: var(--line-clamp);
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content {
    width: 1110px;
    /* Để có margin 24px mỗi bên */
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;

    background: var(--primary-color);

    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

/* =============== Header =================== */
body > .header {
    height: 100vh;
    background-color: #e6f0ff;
    position: relative;
}

.navbar {
    display: flex;
    padding-top: 38px;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    padding: 8px 14px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar .action-link {
    color: var(--primary-color);
}

.navbar .action-link:hover {
    text-decoration: underline;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
    font-size: 1.3rem;
}

/* =============== Hero =================== */

.hero .info {
    margin-top: 130px;
    width: 50.4%;
}

.hero .sub-title {
    color: #687690;
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.018em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.3rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0px;
    /* right: 65px; */
    right: calc((100% - 1110px) / 2 - 100px);
}

/* =============== Main =================== */

/* =============== Clients =================== */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .row-company {
    margin-top: 70px;
}

.clients .row-company a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .row-company a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* =============== Guides =================== */
.guides {
    margin-top: 40px;
    padding: 79px 0;
}

.guides h2 {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides h2::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;

    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;

    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.guides-list {
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 70px;
    text-align: center;
}

.guides-list h3 {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guides-item a {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guides-item .right-arrow {
    margin-left: 5px;
}

.guides-cta {
    text-align: center;
    margin-top: 50px;
}

.guides-cta a {
    min-width: 170px;
}

/* =============== Featured =================== */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured h2 {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.featured header .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.featured header .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured header .link .right-arrow {
    position: relative;
    top: -1px;
    margin-left: 5px;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    /* border-radius: 12px 12px 0 0; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    vertical-align: bottom;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item h3 a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.featured .item .desc {
    --line-clamp: 3;

    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.featured .item .icon {
    margin-left: 22px;
    margin-right: 8px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.014rem;
}

/* =============== Stats =================== */
.stats {
    padding: 50px 0;
    margin-top: 75px;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats-trend {
    width: 239px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background-color: #fff;
    /* background-color: orange; */
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.026rem;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .separate {
    margin-top: 26px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar {
    width: 16.337px;
    height: 16.337px;
    border-radius: 16.337px;
    object-fit: cover;
}

.stats-trend .avatar-group .avatar:not(:first-child) {
    margin-left: -3px;
}

.stats-trend .avatar-text {
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 450;
    line-height: 16px;
    letter-spacing: -0.0145rem;
    background-color: darkgoldenrod;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info h2 {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
}

.stats .info h2::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.stats .row-qty {
    padding: 0 32px;
    margin-top: 110px;
    justify-content: space-between;
}

.stats .qty-item .value {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-item .desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* =============== Subscription =================== */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    margin: 110px 80px;
}

.subscription .info h2 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .info .desc {
    --line-clamp: 3;
    /* margin-top: 15px; */
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    opacity: 0.75;
}

.subscription .info .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: normal;
}

.subscription .image {
    position: absolute;
    right: 221px;
    bottom: 0;
    /* right: 0px; */
}

/* =============== Footer =================== */
footer {
    padding: 50px 165px 58px;
    margin-top: 55px;
}

footer .row {
    display: flex;
    gap: 185px;
}

footer .cols h3 {
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

footer .cols li a,
footer .cols .desc {
    display: block;
    margin-top: 18px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

footer .cols ul,
footer .cols .desc {
    margin-top: 42px;
}

footer .cols .desc {
    white-space: normal;
    line-height: 1.75; /* 175% */
}

footer .cols .social {
    display: flex;
    margin-top: 40px;
    gap: 16px;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

footer .social a:hover {
    background-color: #ebebeb;
}

footer .row:last-child {
    margin-top: 81px;
    justify-content: space-between;
    align-items: center;
}

footer .row:last-child .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}
